#include "base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_CACHE_BUILDER_UNIT_TESTS=1

WARNING_CFLAGS = $(inherited) -Wno-unused-function

// TODO: From ld_base, find a way to share it
ARCHS                     = arm64 x86_64
MACOSX_DEPLOYMENT_TARGET  = 11.0

SYSTEM_HEADER_SEARCH_PATHS  = $(TOOLCHAIN_DIR)/usr/local/include
OTHER_LDFLAGS               = $(TOOLCHAIN_DIR)/usr/lib/libtapi.dylib -L$(TOOLCHAIN_DIR)/usr/lib/ -lcodedirectory -lCrashReporterClient $(TOOLCHAIN_DIR)/usr/lib/libLTO.dylib $(TOOLCHAIN_DIR)/usr/lib/libswiftDemangle.dylib -lCrashReporterClient

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../lib/ /var/db/xcode_select_link/Toolchains/OSX14.0.xctoolchain/usr/lib/ /var/db/xcode_select_link/Toolchains/XcodeDefault.xctoolchain/usr/lib/ /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib

LD_CLIENT_NAME=ld

WARNING_CFLAGS = $(inherited) -Wno-unused-function
