#include "base.xcconfig"

// TODO: Clean these up.  They were moved from the build settings
COPY_PHASE_STRIP[config=Debug] = NO
COPY_PHASE_STRIP[config=Release] = YES
EXCLUDED_ARCHS = arm64
EXECUTABLE_EXTENSION = bundle
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_SHARED_CACHE_EXTRACTOR=1

INSTALL_PATH = /usr/local/lib
INSTALL_PATH[sdk=macosx*] = /usr/lib

MACH_O_TYPE = mh_bundle
OTHER_LDFLAGS = -stdlib=libc++ -Wl,-exported_symbol,_dyld_shared_cache_extract_dylibs_progress
PRODUCT_NAME = dsc_extractor
