#include "base.xcconfig"

CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/configs/task_read_for_pid_entitlement.plist

MAN_INSTALL_PATH = /usr/appleinternal/share/man/man1/

INSTALL_PATH = /usr/appleinternal/bin
PRODUCT_NAME = $(TARGET_NAME)

GCC_PREPROCESSOR_DEFINITIONS_Release    =
GCC_PREPROCESSOR_DEFINITIONS_Debug      = DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS            = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))

// TODO: Can we just move these to the base.xcconfig?
SDKROOT = macosx.internal
SUPPORTED_PLATFORMS = macosx iphoneos watchos appletvos bridgeos;
VERSIONING_SYSTEM = "apple-generic";

CODE_SIGN_IDENTITY = $(TRUSTED_CODE_SIGN_IDENTITY)
