#include "base.xcconfig"

SUPPORTED_PLATFORMS = macosx iphoneos xros watchos appletvos bridgeos watchsimulator iphonesimulator xrsimulator appletvsimulator
SYSTEM_HEADER_SEARCH_PATHS = $(SDKROOT)/System/Library/Frameworks/System.framework/PrivateHeaders ${SDKROOT)/usr/local/include
USER_HEADER_SEARCH_PATHS = $(SRCROOT)/include $(SRCROOT)/testing/include
