#include "base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS_Release    = BUILDING_DYLD_SYMBOLS_CACHE=1
GCC_PREPROCESSOR_DEFINITIONS_Debug      = BUILDING_DYLD_SYMBOLS_CACHE=1 DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS            = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))

INSTALL_PATH = $(RC_PLATFORM_INSTALL_PATH)/usr/local/bin

ARCHS = arm64 x86_64
MACOSX_DEPLOYMENT_TARGET = 13.0

SDKROOT = macosx.internal
SUPPORTED_PLATFORMS = macosx iphoneos watchos appletvos bridgeos xros
VERSIONING_SYSTEM = "apple-generic"

PRODUCT_NAME = $(TARGET_NAME)


