#include "unittests.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_MACHO_WRITER=1

// TODO: Clean these up.  They were moved from the build settings
CLANG_ENABLE_MODULES =
COPY_PHASE_STRIP = NO
HEADER_SEARCH_PATHS = ./include
INFOPLIST_FILE = testing/unit-tests/Info.plist
MACOSX_DEPLOYMENT_TARGET = 13.0
PRODUCT_BUNDLE_IDENTIFIER = dyld.DyldProcessConfigTests
SUPPORTED_PLATFORMS = $(AVAILABLE_PLATFORMS)
SUPPORTS_MACCATALYST = YES
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = YES
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = YES
TARGETED_DEVICE_FAMILY = 1,2,3,4,5,6,7
VALIDATE_PRODUCT[config=Release] = YES
