#include "shared_cache_builder_base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_CACHE_BUILDER=1 BUILDING_MACHO_WRITER=1 BUILDING_EMBEDDED_SHARED_CACHE_BUILDER=1
SUPPORTED_PLATFORMS = macosx
OTHER_LDFLAGS = $(inherited) -Wl,-exported_symbol,_main

// TODO: Clean these up.  They were moved from the build settings
INSTALL_PATH = $(RC_PLATFORM_INSTALL_PATH)/usr/local/bin
MERGED_BINARY_TYPE = automatic
ONLY_ACTIVE_ARCH[config=Debug] = YES
SYSTEM_FRAMEWORK_SEARCH_PATHS = $(inherited) $(SDKROOT)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks
