#include "tools_base.xcconfig"

// FIXME: This was copied from dyld_info.xcconfig.  Try share it
MAN_INSTALL_PATH                     = /usr/local/share/man/man1/
MAN_INSTALL_PATH[sdk=macosx*]        = $(TOOLCHAIN_INSTALL_DIR)/usr/share/man/man1/

GCC_ENABLE_CPP_RTTI = YES

// TODO: Clean these up.  They were moved from the build settings
INSTALL_PATH = /usr/local/bin
INSTALL_PATH[config=Release][sdk=macosx*] = /usr/bin
SUPPORTED_PLATFORMS = macosx iphoneos xros watchos appletvos bridgeos
