#include "unittests.xcconfig"

// TODO: Clean these up.  They were moved from the build settings
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
COPY_PHASE_STRIP = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
EXECUTABLE_EXTENSION = bundle
EXECUTABLE_PREFIX = lib
MACH_O_TYPE = mh_bundle
MACOSX_DEPLOYMENT_TARGET = 15.4
SKIP_INSTALL = YES

