#include "unittests.xcconfig"

SUPPORTED_PLATFORMS = macosx iphoneos appletvos iphonesimulator watchos xros

USER_HEADER_SEARCH_PATHS = $(SRCROOT)/testing/framework-unit-tests $(inherited)

// Swift and modules
SWIFT_INSTALL_OBJC_HEADER       = NO
SWIFT_OBJC_INTEROP_MODE         = objc
CLANG_ENABLE_MODULES            = YES
_EXPERIMENTAL_SWIFT_EXPLICIT_MODULES = YES

CODE_SIGN_IDENTITY = $(TRUSTED_CODE_SIGN_IDENTITY)

DYLD_FRAMEWORK_TEST_EXECUTABLE_PATH = ${BUILT_PRODUCTS_DIR}/${BUNDLE_EXECUTABLE_FOLDER_PATH}

//XCTRUNNER_LAUNCH_AS_TOOL        = YES
//CODE_SIGN_ENTITLEMENTS      = testing/framework-unit-tests/framework_tests_entitlements.plist

// TODO: Clean these up.  They were moved from the build settings
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
COPY_PHASE_STRIP = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
MACOSX_DEPLOYMENT_TARGET = 16.0
PRODUCT_BUNDLE_IDENTIFIER = com.apple.dyld.dyld-frameworkTests
SUPPORTS_MACCATALYST = YES
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = YES
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = YES
SWIFT_OBJC_INTEROP_MODE =
TARGETED_DEVICE_FAMILY = 1,2,3,4,5,6,7

MACOSX_DEPLOYMENT_TARGET = 15.5
