#include "unittests.xcconfig"

SUPPORTED_PLATFORMS = macosx iphoneos appletvos iphonesimulator watchos xros

USER_HEADER_SEARCH_PATHS = $(SRCROOT)/testing/framework-unit-tests $(inherited)

// Swift and modules
SWIFT_INSTALL_OBJC_HEADER       = NO
SWIFT_OBJC_INTEROP_MODE         = objc
CLANG_ENABLE_MODULES            = YES

CODE_SIGN_IDENTITY = $(TRUSTED_CODE_SIGN_IDENTITY)

// TODO: Clean these up.  They were moved from the build settings
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
COPY_PHASE_STRIP = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
PRODUCT_BUNDLE_IDENTIFIER = com.apple.dyld.dyld-frameworkPerfTests
SWIFT_OBJC_INTEROP_MODE =
TARGETED_DEVICE_FAMILY = 1,2,3,4,5,6,7

SWIFT_OBJC_BRIDGING_HEADER = testing/framework-perf-tests/FrameworkPerfTestsShared.h

OTHER_SWIFT_FLAGS = $(inherited) -vfsoverlay "$(PROJECT_TEMP_DIR)/dyld-overlay.yaml" -Xcc -ivfsoverlay -Xcc "$(PROJECT_TEMP_DIR)/dyld-overlay.yaml"
OTHER_CFLAGS = $(inherited) -ivfsoverlay "$(PROJECT_TEMP_DIR)/dyld-overlay.yaml"
