#include "ld_unittests.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_CACHE_BUILDER=1 BUILDING_APP_CACHE_UTIL=1

LD_RUNPATH_SEARCH_PATHS =
LD_RUNPATH_SEARCH_PATHS = $(inherited) /var/db/xcode_select_link/Toolchains/XcodeDefault.xctoolchain/usr/lib/
LD_RUNPATH_SEARCH_PATHS = $(inherited) /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib

MACOSX_DEPLOYMENT_TARGET  = 13.0
GENERATE_INFOPLIST_FILE = YES
PRODUCT_BUNDLE_IDENTIFIER = ads.UnitTests-kernel_linker
PRODUCT_NAME = UnitTests-kernel_linker
CURRENT_PROJECT_VERSION = $(RC_ProjectSourceVersion)

ALWAYS_SEARCH_USER_PATHS = NO

CLANG_ENABLE_OBJC_ARC = YES
