#include "base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS_Release    = BUILDING_MACHO_WRITER=1
GCC_PREPROCESSOR_DEFINITIONS_Debug      = BUILDING_MACHO_WRITER=1 DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS            = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))

ARCHS                     = arm64 x86_64
MACOSX_DEPLOYMENT_TARGET  = 11.0

SYSTEM_HEADER_SEARCH_PATHS  = $(TOOLCHAIN_DIR)/usr/local/include
OTHER_LDFLAGS               = $(TOOLCHAIN_DIR)/usr/lib/libtapi.dylib -lcodedirectory $(TOOLCHAIN_DIR)/usr/lib/libLTO.dylib -Wl,-client_name,ld $(TOOLCHAIN_DIR)/usr/lib/libswiftDemangle.dylib -lCrashReporterClient

WARNING_CFLAGS = $(inherited) -Wno-deprecated-declarations -Wimplicit-fallthrough -Wno-unused-but-set-variable
