#include "base.xcconfig"

OS_TOOLCHAIN_    = 1
OS_TOOLCHAIN_NO  = 1
OS_TOOLCHAIN_YES = 0
INTERNAL_BUILD   = ${OS_TOOLCHAIN_${RC_DEVTOOLS}} // RC_DEVTOOLS=YES on xcode build trains


GCC_PREPROCESSOR_DEFINITIONS_Release    = INTERNAL_BUILD=${INTERNAL_BUILD}
GCC_PREPROCESSOR_DEFINITIONS_Debug      = DEBUG=1 INTERNAL_BUILD=1
GCC_PREPROCESSOR_DEFINITIONS            = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))

ARCHS                     = arm64 x86_64
MACOSX_DEPLOYMENT_TARGET  = 13.0

SYSTEM_HEADER_SEARCH_PATHS  = $(TOOLCHAIN_DIR)/usr/local/include
OTHER_LDFLAGS               = $(TOOLCHAIN_DIR)/usr/lib/libtapi.dylib -L$(TOOLCHAIN_DIR)/usr/lib/ -lcodedirectory $(TOOLCHAIN_DIR)/usr/lib/libLTO.dylib $(TOOLCHAIN_DIR)/usr/lib/libswiftDemangle.dylib -lCrashReporterClient -framework Foundation

WARNING_CFLAGS = $(inherited) -Wno-deprecated-declarations -Wimplicit-fallthrough -Wno-unused-but-set-variable

