#include "ld_base.xcconfig"
#include "test_base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_UNIT_TESTS=1 BUILDING_LD_UNIT_TESTS=1

LD_CLIENT_NAME=ld

WARNING_CFLAGS = $(inherited) -Wno-unused-function

LD_RUNPATH_SEARCH_PATHS =
LD_RUNPATH_SEARCH_PATHS = $(inherited) /var/db/xcode_select_link/Toolchains/XcodeDefault.xctoolchain/usr/lib/
LD_RUNPATH_SEARCH_PATHS = $(inherited) /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib
