#include "ld_base.xcconfig"

// TODO: Clean these up.  They were moved from the build settings
COPY_PHASE_STRIP = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
EXECUTABLE_PREFIX = lib
INSTALL_PATH = $(TOOLCHAIN_INSTALL_DIR)/usr/local/lib
MACOSX_DEPLOYMENT_TARGET = 15.1
PRODUCT_NAME = cctoolshelper
STRIPFLAGS =
STRIP_INSTALLED_PRODUCT = NO
USER_HEADER_SEARCH_PATHS = ./dyld ./common ./mach_o ./lsl ./mach_o_writer
USE_HEADERMAP = NO
