#include "base.xcconfig"

SUPPORTED_PLATFORMS = macosx iphoneos watchos appletvos bridgeos xros

PRIVATE_HEADERS_FOLDER_PATH = /usr/local/include/mach-o

// Turn off the use of __libcpp_verbose_abort from std::string_view
CLANG_CXX_STANDARD_LIBRARY_HARDENING='_LIBCPP_HARDENING_MODE_NONE'

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_LIBDSC=1

// TODO: Clean these up.  They were moved from the build settings
INSTALLHDRS_COPY_PHASE[config=Release] = YES
INSTALL_PATH = /usr/local/lib
IS_ZIPPERED = YES
ONLY_ACTIVE_ARCH[config=Debug] = NO
PRODUCT_NAME = dsc
