#include "base.xcconfig"

// TODO: Move to tools_base.xcconfig, but we need to fix kmutil/kmcreate to be arm64/x86_64 not arm64e

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_CACHE_BUILDER=1 BUILDING_APP_CACHE_UTIL=1

// Hide symbols by default
GCC_SYMBOLS_PRIVATE_EXTERN = YES

// TODO: Clean these up.  They were moved from the build settings
COPY_PHASE_STRIP = NO
EXCLUDED_ARCHS = arm64
INSTALLHDRS_COPY_PHASE = YES
INSTALL_PATH = $KERNEL_LINKER_INSTALL_PATH
KERNEL_LINKER_INSTALL_NAME = /usr/lib/libKernelCollectionBuilder.dylib
KERNEL_LINKER_INSTALL_PATH = /usr/lib
LD_DYLIB_INSTALL_NAME = $KERNEL_LINKER_INSTALL_NAME
OTHER_LDFLAGS = -Wl,-no_warn_inits -lCrashReporterClient
OTHER_TAPI_FLAGS = -extra-private-header $(SRCROOT)/kernel-collection-builder/kernel_collection_builder.h
SUPPORTS_TEXT_BASED_API = YES
TAPI_VERIFY_MODE = Pedantic
