#include "base.xcconfig"

OS_TOOLCHAIN_    = 1
OS_TOOLCHAIN_NO  = 1
OS_TOOLCHAIN_YES = 0
INTERNAL_BUILD   = ${OS_TOOLCHAIN_${RC_DEVTOOLS}} // RC_DEVTOOLS=YES on xcode build trains

GCC_PREPROCESSOR_DEFINITIONS_Release    = INTERNAL_BUILD=${INTERNAL_BUILD}
GCC_PREPROCESSOR_DEFINITIONS_Debug      = DEBUG=1 INTERNAL_BUILD=1
GCC_PREPROCESSOR_DEFINITIONS            = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))

// We no longer use a header map, instea relying on USER_HEADER_SEARCH_PATHS for everything
// TODO: Remove this once its moved up to the base.xcconfig
USE_HEADERMAP = NO

// FIXME: Remove this when base.xcconfig adds it
USER_HEADER_SEARCH_PATHS  = $(inherited) ./lsl

ARCHS                     = arm64 arm64e x86_64 arm64_32
MACOSX_DEPLOYMENT_TARGET  = 13.0

SYSTEM_HEADER_SEARCH_PATHS  = $(TOOLCHAIN_DIR)/usr/local/include

WARNING_CFLAGS = $(inherited) -Wno-deprecated-declarations -Wimplicit-fallthrough -Wno-unused-but-set-variable

IS_ZIPPERED = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES

// Always build all archs as we don't know the archs of what we'll be linked in to
ONLY_ACTIVE_ARCH = NO

// Support ALL the platforms, because everyone links libmach_o
SUPPORTED_PLATFORMS = macosx iphoneos xros watchos appletvos bridgeos watchsimulator iphonesimulator xrsimulator appletvsimulator exclavekit.macosx exclavekit.iphoneos exclavekit.appletvos exclavekit.xros exclavekit.watchos

// We never need to install this to the DSTROOT, just use it locally to build other executables
SKIP_INSTALL = YES

// Turn off the use of __libcpp_verbose_abort from std::string_view
CLANG_CXX_STANDARD_LIBRARY_HARDENING='_LIBCPP_HARDENING_MODE_NONE'

// No strip for static archives
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
