#include "shared_cache_builder_base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_CACHE_BUILDER=1 BUILDING_MRM_CACHE_BUILDER=1 BUILDING_MACHO_WRITER=1 BOM_SUPPORT=1

// TODO: Clean these up.  They were moved from the build settings
EXPORTED_SYMBOLS_FILE = $(DERIVED_FILES_DIR)/slc_builder.exp
FRAMEWORK_SEARCH_PATHS = $(inherited) $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks $(SDKROOT)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks $(SDKROOT)$(APPLE_INTERNAL_LIBRARY_DIR)/Frameworks
INSTALLHDRS_COPY_PHASE[config=Release] = YES
INSTALL_PATH = /usr/local/lib
MACH_O_TYPE = mh_dylib
MERGED_BINARY_TYPE = automatic
OTHER_TAPI_FLAGS = -extra-public-header cache_builder/mrm_shared_cache_builder.h
PRODUCT_NAME = slc_builder
SUPPORTS_TEXT_BASED_API = YES
TAPI_VERIFY_MODE = ErrorsOnly
