#include "unittests.xcconfig"

// TODO: Clean these up.  They were moved from the build settings
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
COPY_PHASE_STRIP = NO
INFOPLIST_FILE = local_test_runner/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
OTHER_CFLAGS = -DCHROOT_PATH=\"$(DERIVED_FILES_DIR)/TestRoot\"
PRODUCT_BUNDLE_IDENTIFIER = com.apple.dyld.local-test-runner
STRIP_INSTALLED_PRODUCT = YES
USER_HEADER_SEARCH_PATHS = $SRCROOT/testing/include
