#include "tools_base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_MACHOCHECK=1

// TODO: Clean these up.  They were moved from the build settings
COPY_PHASE_STRIP = NO
INSTALL_PATH = $(TOOLCHAIN_INSTALL_DIR)/usr/local/bin
MACOSX_DEPLOYMENT_TARGET = 15.1

OTHER_LDFLAGS = $(inherited) -lCrashReporterClient
