#include "unittests.xcconfig"

ARCHS[sdk=macosx*] = x86_64 arm64
EXCLUDED_ARCHS = arm64e


// TODO: Clean these up.  They were moved from the build settings
COPY_PHASE_STRIP = NO
HEADER_SEARCH_PATHS = ./include "$(TOOLCHAIN_DIR)/usr/local/include"
MACOSX_DEPLOYMENT_TARGET = 13
OTHER_LDFLAGS = $(inherited) -Wl,-exported_symbol,_OBJC_CLASS_$_Test_*
PRODUCT_BUNDLE_IDENTIFIER = com.apple.UnitTests-common
