#include "base.xcconfig"

SUPPORTED_PLATFORMS             = exclavecore.macosx exclavecore.iphoneos macosx

INSTALL_PATH[sdk=exclavecore*]  = $(SYSTEM_PREFIX)/System/Library/Frameworks
SUPPORTS_TEXT_BASED_API         = YES
SWIFT_INSTALL_OBJC_HEADER       = NO
BUILD_LIBRARY_FOR_DISTRIBUTION  = YES
HEADER_SEARCH_PATHS             = $inherited ${PROJECT_DIR}/shared_cache_runtime/Modules
