#include "unittests.xcconfig"

// TODO: Clean these up.  They were moved from the build settings
ALLOW_TARGET_PLATFORM_SPECIALIZATION = YES
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
CLANG_ENABLE_MODULES = YES
COPY_PHASE_STRIP = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
HEADER_SEARCH_PATHS = ${PROJECT_DIR}/shared_cache_runtime/Modules
IPHONEOS_DEPLOYMENT_TARGET = 18.0
MACOSX_DEPLOYMENT_TARGET = 15.0
PRODUCT_BUNDLE_IDENTIFIER = com.apple.SharedCacheRuntimeTests
SDKROOT = auto
SUPPORTED_PLATFORMS = macosx
SUPPORTS_MACCATALYST = NO
USER_HEADER_SEARCH_PATHS =

