#include "ld_base.xcconfig"

PRODUCT_NAME = SharedCacheLinker
DYLIB_INSTALL_NAME_BASE = @rpath

// overwrite ld flags as shared cache builder doesn't use toolchain libraries
OTHER_LDFLAGS = ""
OTHER_CPLUSPLUSFLAGS=$(inherited) -fno-c++-static-destructors

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_SHARED_CACHE_LINKER=1 LD_VERSION=$(RC_ProjectSourceVersion) RC_SUPPORTED_ARCHS="$(RC_SUPPORTED_ARCHS:default=x86_64 x86_64h arm64 arm64e arm64_32)"
GCC_SYMBOLS_PRIVATE_EXTERN = YES

VERSION_INFO_STRING = "@(#)PROGRAM:SharedCacheLinker PROJECT:ld-$(CURRENT_PROJECT_VERSION)"

SUPPORTS_TEXT_BASED_API = YES
TAPI_ENABLE_PROJECT_HEADERS = YES
TAPI_LANGUAGE = c++
TAPI_LANGUAGE_STANDARD = ${CLANG_CXX_LANGUAGE_STANDARD}
TAPI_VERIFY_MODE = Pedantic

GCC_SYMBOLS_PRIVATE_EXTERN = YES
OTHER_TAPI_FLAGS = -fvisibility=hidden

OTHER_LDFLAGS = $(inherited) -lCrashReporterClient

// rdar://123474729 (-fvisibility=hidden doesn't hide all <filesystem> symbols)
EXPORTED_SYMBOLS_FILE = configs/shared_cache_linker.exp
