// settings shared by all unit test bundles

// HACK to work around XCTest ABI issues
DYLD_XBS_TEST_BUILD_STYLE_YES = _APPLEINTERNAL // Hack to switch test style in XBS
TEST_BUILD_STYLE = $(DYLD_XBS_TEST_BUILD_STYLE_$(RC_XBS))

// In the long run it would be best to move to USES_XCTRUNNER so we can setup entitled
// tests, but that is currently broken due to Swift Testing ABI issues.
// Configure tests to use a locally built and signed code runner
//USES_XCTRUNNER          = YES
//CODE_SIGN_IDENTITY      = -
