#include "base.xcconfig"

// TODO: Clean these up.  They were moved from the build settings
COPY_PHASE_STRIP = NO
EXECUTABLE_PREFIX = lib
GENERATE_MASTER_OBJECT_FILE = YES
LLVM_LTO = NO
ONLY_ACTIVE_ARCH[config=Debug] = NO
OTHER_CFLAGS = -fno-stack-protector -fno-stack-check
PRELINK_FLAGS = -exported_symbols_list $(SRCROOT)/testing/lib/test_support.exp
SKIP_INSTALL = YES
STRIP_INSTALLED_PRODUCT = NO
SUPPORTED_PLATFORMS = macosx iphoneos xros watchos appletvos bridgeos
SYSTEM_HEADER_SEARCH_PATHS =
USER_HEADER_SEARCH_PATHS = ./testing/include
