#include "base.xcconfig"

MACOSX_DEPLOYMENT_TARGET = 13

CLANG_ENABLE_OBJC_ARC = YES

ONLY_ACTIVE_ARCH[config=Debug] = YES

COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = YES
SUPPORTED_PLATFORMS = macosx iphoneos xros watchos appletvos bridgeos

OS_TOOLCHAIN_    = 1
OS_TOOLCHAIN_NO  = 1
OS_TOOLCHAIN_YES = 0
INTERNAL_BUILD   = ${OS_TOOLCHAIN_${RC_DEVTOOLS}} // RC_DEVTOOLS=YES on xcode build trains

GCC_PREPROCESSOR_DEFINITIONS[config=Debug]   = $(inherited) INTERNAL_BUILD=1
GCC_PREPROCESSOR_DEFINITIONS[config=Release] = $(inherited) INTERNAL_BUILD=${INTERNAL_BUILD}
