#include "tools_base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BUILDING_CACHE_BUILDER=1 BUILDING_UPDATE_DYLD_CACHE_BUILDER=1

// TODO: Clean these up.  They were moved from the build settings
INSTALL_PATH = /usr/bin
PRODUCT_NAME = update_dyld_shared_cache
SDKROOT = macosx.internal

ARCHS = x86_64 arm64
EXCLUDED_ARCHS = arm64e
